[Unit]
Description=docker-compose %i service
# Пользоватьским юнитам не доступны системные
#After=network-online.target docker.socket
#Wants=network-online.target
#Requires=docker.socket

[Service]
WorkingDirectory=%h/docker-compose
Environment=COMPOSE_ENV_FILE=%i.env
ExecStart=/usr/bin/docker-compose --env-file $COMPOSE_ENV_FILE  up --remove-orphans -d
ExecReload=/usr/bin/docker-compose --env-file $COMPOSE_ENV_FILE  up --remove-orphans -d
ExecStop=/usr/bin/docker-compose down
Type=oneshot
# После выхода из программы не убиваем запущенный процесс
RemainAfterExit=yes
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
